app-navbar{
    position: sticky;
    
    top: 0;
    height: 100px;
    background-color: pink;
    text-align: center;
    display: block;
    
}

app-content{
    display: block;
     height: 90vh; /* vh = viewport height */
}